#map-container {
  width: 50vw;
  margin: 0 auto;
  height: 50vh;
  position: relative;
  float: left;

}

.mapboxgl-canvas {
  margin: 0 auto;
  left: 0;
}


@media (max-width: 600px) {
  #map-container {
    width: 100%;
  }
}