#map-container {
  width: 50vw;
  margin: 0 auto;
  height: 50vh;
  position: relative;
  display: flex;
}

.mapboxgl-canvas {
  /* position: static!important; */
  margin: 0 auto;
  left: 0;
  /* transform: translate(-25%, 0%); */
}

.mapboxgl-map {
  margin: 0 auto!important;
}

.mapboxgl-canvas-container {
  /* width: 100%!important; */
  text-align: center!important;
}

@media (max-width: 600px) {
  #map-container {
    width: 100%;
  }
}