
#navbar {
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
  overflow: hidden;
  background-color: lightgray;
  z-index: 10;
}

/* Navbar links */
#navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 14px 5px 14px;
  text-decoration: none;
  font-weight: 500;
  vertical-align: baseline;
}

#navbar a:hover {
  color: gray;
}

#navbar ul li a.current {
  color: black;
}

/* Page content */
.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #navbar {
    display: grid;
    grid-template-columns: 10px repeat(5, 2fr) 10px;
    margin-bottom: 30px;
    text-align: left;
  }

  #navbar a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 15px 5px 0px;
    text-decoration: none;
    font-weight: 500;
    vertical-align: baseline;
    font-size: 13px;
  }

}