.App {
  text-align: center;
  padding-top: 4em;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
}

h1, h2 {
	line-height: 1.2;
}

.section {
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr) 1fr;
  margin-bottom: 50px;
  text-align: center;
  text-align: left;
}

.full-row {
	grid-area: 1 / 2 / 2 / 7;
}


.left-2 {
	grid-area: 1 / 2 / 2 / 4;
	margin-right: 30px;
}

.left-3 {
	grid-area: 1 / 2 / 2 / 5;
	margin-right: 30px;
}

.right-2 {
	grid-area: 1 / 5 / 2 / 7;
	margin-left: 30px;
}

.right-3 {
	grid-area: 1 / 4 / 2 / 7;
	margin-left: 30px;	
}

/*.chartContainer {
  width: 50%;
  margin: 0 auto;
}*/

/*.aboutContainer {
  width: 50%;
  margin: 0 auto;
}

.aboutContainer > h1 {
	text-align: center;
}

.aboutContainer > p {
	text-align: left;
}

.resourcesContainer {
  width: 50%;
  margin: 0 auto;	
}

.resourcesContainer >h1 {
	text-align: center;
}

.resourcesContainer > p, ul, li, a {
	text-align: left;
}

.resourcesContainer > ul {
	list-style: none;
}*/